<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<ul th:each="controle : ${recommandations}">
    <li ><a th:text="${controle.suivis.mission.intitule}"></a>
    <li >Chef Mission :<a th:text="${controle.suivis.mission.chefmission}"></a>
    <li >Responsable Audité <a th:text="${controle.suivis.mission.responsableaudite}"></a>


</ul>
<table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th >
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
            Process
            <!--                   </a>-->
        </th>
        <th>
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
          Constat
            <!--                   </a>-->
        </th>
        <th>
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
           Recommandation
            <!--                   </a>-->
        </th>
        <th>
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
            incharge
            <!--                   </a>-->
        </th>
        <th>
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
            Deadline
            <!--                   </a>-->
        </th>
        <th>
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
            statut
            <!--                   </a>-->
        </th>
        <th>
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
            Taux d'avancement (%)
            <!--                   </a>-->
        </th>
        <th>
            <!--                <a th:href="@{'/controle/page/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
            Matérialisation
            <!--                   </a>-->
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recommandation : ${recommandations}">
        <td th:text="${recommandation.suivis.process}"></td>
        <td th:text="${recommandation.suivis.constats}"></td>
        <td th:text="${recommandation.recommandation}"></td>
        <td th:text="${recommandation.incharge}"></td>
        <td th:text="${recommandation.deadline}"></td>
        <td th:text="${recommandation.statut}"></td>
        <td th:text="${recommandation.tauxavancement}"></td>
        <td th:text="${recommandation.materialisation}"></td>

        <!--            <td> <a th:href="@{'/controle/edit_product/' + ${controle.id}}">Edit</a>-->
        <!--                <a th:href="@{'/controle/delete/' + ${controle.id}}">Delete</a>-->
        <!--            </td>-->
    </tr>
    </tbody>
</table>



</body>


</html>