<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li th:text="${coun}">

    </li>
</ul>
<FONT size="30pt"> <a th:text="${coun}"></a> </FONT>

<!--<table class="table table-bordered table-hover table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>In charge</th>-->
<!--        <th> Taux </th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each=" stat : ${coun}">-->

<!--        <td th:text="${stat}" ><a></a></td>-->

<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>